
<img src="https://source.unsplash.com/X5BWooeO4Cw/3648×5472" class="banner">

<div class="form-container">
  <div class="form-box">
    <h1>New flat</h1>
    <%= render "form", element: @flat %>
  </div>
</div>
